/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-interp {color: #4c4cff}

tei-interp {display: inline;}

tei-orgName {font-weight: bold;}

tei-respStmt {display: none;}

tei-sourceDesc {display: inline;}

tei-interpGrp {display: none;}

tei-biblScope {display: none;}

tei-publisher {display: none;}

tei-orig {display: none;}
